extends layout

block content
  form(action="/notes", method="post")
    div
      div
        label(for="title") Título
      input(type="text", id="title" name="title")
    div
      div
        label(for="body") Texto
      textarea(id="body", name="body", rows="8")
    
    button(type="submit") Enviar
